.features {
  padding: 96px 0;
}

.features-ul {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-ul > li {
  width: 100%;
}

.decoration {
  display: none;
}

.title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-ul .title {
  text-align: center;
}
.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .features-ul {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .features-ul > li {
    width: calc((100% - 24px) / 2);
  }
  .features-ul .title {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }

  .features-ul {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .features-ul > li {
    width: calc((100% - 72px) / 4);
  }
.features-ul .text {
    font-weight: 400;
  }
  .decoration {
    width: 100%;
    height: 112px;

    margin-bottom: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
  }
  .features-ul .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
