.header {
  background: #fff;
  border-bottom: 1px solid #e7e9fc;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.header .logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
}

.header .accent {
  color: #2e2f42;
}

/* Mobile menu button */
.menu-open-btn {
  border: none;
  padding: 0;
  background: transparent;
  color: #2e2f42;
}

/* На мобільному nav та контакти приховані */
.header nav,
.header address {
  display: none;
}

/* Navigation */
.header .nav-menu {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header .nav-menu:hover,
.header .nav-menu:focus {
  color: #404bbf;
}

.ul-menu {
  display: flex;
  gap: 40px;
}

a.nav-menu {
  padding: 24px 0;
}

.nav-menu {
  position: relative;
  transition: color 250ms;
}

.nav-menu.active {
  color: #404bbf;
}

.nav-menu.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

/* Contacts */
.header .contacts {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  transition: color 250ms;
}

.header .contacts:hover,
.header .contacts:focus {
  color: #404bbf;
}

.ul-contacts {
  display: flex;
  gap: 40px;
  align-items: center;
}

a.contacts {
  padding: 24px 0;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }

  .header nav,
  .header address {
    display: block;
  }

  .container-header {
    justify-content: flex-start;
  }

  .header .logo {
    margin-right: 120px;
    padding: 16px 0;
  }

  .ul-menu {
    flex-grow: 1;
  }
  .header .contacts {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  a.contacts {
    padding: 0;
  }
}
@media screen and (min-width: 1158px) {
  .header .contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  a.contacts {
    padding: 24px 0;
  }
}