.hero {
  background-color: #2e2f42;
  background-image:
    linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    image-set(
      url("../images/hero-bg-mobile.jpg") 1x,
      url("../images/hero-bg-tablet@2x.jpg") 2x
    );

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 72px 0;
}

.title {
  max-width: 216px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.button {
  display: block;
  margin: 72px auto 0;

  min-width: 169px;
  height: 56px;

  border: none;
  border-radius: 4px;

  background-color: #4d5ae5;
  color: #fff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color 250ms ease-in-out;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
    background-image:
      linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      image-set(
        url("../images/hero-bg-tablet.jpg") 1x,
        url("../images/hero-bg-tablet@2x.jpg") 2x
      );
  }

  .title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }

  .button {
    margin-top: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    margin: 0 auto;
    background-image:
      linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      image-set(
        url("../images/hero-bg-desktop.jpg") 1x,
        url("../images/hero-bg-desktop@2x.jpg") 2x
      );
    padding: 188px 0;
  }
  .button {
    margin-top: 48px;
  }
}