.hero .title {
   
   font-weight: 700;
   font-size: 56px;
   line-height: 1.07143;
   letter-spacing: 0.02em;
   text-align: center;
   color: #fff; 
   max-width: 496px;
}
.hero .button {
    background: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms ease-in-out;
}
.button:hover,
.button:focus {
    background-color: #404bbf;
}
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: 
    linear-gradient(180deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
    url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1440px;
    margin: 0 auto;
}
.container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}