.modal {
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease-in-out;
    visibility: hidden;
    outline: none;
}
.modal.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal-backdrop {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    border-radius: 4px;
    padding: 72px 24px 24px;
    width: 408px;
    height: 582px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    color: #2e2f42;
    transition: background-color 250ms ease, color 250ms ease;
}
.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    color: #fff;
}
.form-modal {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}
.form-fieldset {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
}
.di-fieldset {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    border-radius: 4px;
    width: 360px;
    height: 336px;
}
.di-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0;
    
} 
.form-textarea {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    width: 360px;
    height: 120px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    background-color: transparent;
    transition: border-color 250ms ease-in-out;
    outline: transparent;
    resize: none;
    color: #434455;
}
.form-textarea:focus {
    border-color: #4d5ae5;
}
.form-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
} 
.fom-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.contacts {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4px;
}
.icon-close {
    fill: currentColor;
    transition: fill 250ms ease;
}
.fieldset-icon {
    color: #2e2f42;
    fill: currentColor;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: color 250ms ease-in-out;
}
.di-label:has(.form-input:focus) .fieldset-icon {
    color: #4d5ae5;
}
.form-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 38px;
    width: 360px;
    height: 40px;
    max-width: 360px;
    min-height: 40px;
    padding-left: 38px;
    transition: border-color 250ms ease-in-out;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.form-input:focus {
    outline: none;
    border-color: #4d5ae5;
}
.model-form-checkbox:checked + .checkbox {
    background-color: #404bbf;
    border-color: #404bbf;
}
.form-checkbox {
        border-radius: 2px;
        border: 0.88px solid rgba(46, 47, 66, 0.4);
    }
.model-form-checkbox-icon {
    fill: transparent;
    opacity: 0;
    transition: opacity 250ms ease, fill 250ms ease;
}
    
.sr-only:checked + .model-form-checkbox {
    background-color: #404bbf;
    border-color: #404bbf;
}
.sr-only:checked + .model-form-checkbox .model-form-checkbox-icon {
    fill: #f4f4fd;
    opacity: 1;
}
.button-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    width: 169px;
    transition: background-color 250ms ease-in-out;
}
.send {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}
.button-submit:hover,
.button-submit:focus {
    background-color: #404bbf;
}

.checkbox {
    border-radius: 2px;
    border: 0.88px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
}
.checkbox:hover,
.checkbox:focus {
    border-color: 1px solid #404bbf;
    fill: #f4f4fd;
}
.text-checkbox {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}    
.model-form-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms ease, border-color 250ms ease;
}
.model-form-agreement {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 343px;
    height: 14px;
}
.policy-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    
}
.dec {
    line-height: 1.17;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}