.portfolio {
  padding: 96px 0;
}

.container-portfolio > .title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.title-ul {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.title-ul > .li {
  width: 100%;
  background-color: #fff;
  border: 1px solid #e7e9fc;
  box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.images {
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding: 40px 32px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  background-color: #4d5ae5;

  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}

.title-ul > .li:hover .overlay-text,
.title-ul > .li:focus-within .overlay-text {
  transform: translateY(0);
}

.member-content-wrapper-p {
  padding: 32px 16px;
}

.section-portfolio {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.member-content-wrapper-p .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .title-ul {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .title-ul > .li {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }

  .title-ul {
    row-gap: 48px;
  }

  .title-ul > .li {
    width: calc((100% - 48px) / 3);
  }
}
