.portfolio .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-bottom: 72px;
}

.portfolio .overlay-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.portfolio .section {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio .text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.container-portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.title-ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.member-content-wrapper-p {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    background: #4d5ae5;
    padding: 40px 32px;
    width: 100%;
    height: 100%;
    min-height: 240px;
    max-height: 300px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.li:hover .overlay-text {
transform: translateY(0);

}
.li:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.overlay  {
    position: relative;
    overflow: hidden;
}
.li {
    transition: box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);
    box-sizing: border-box;
}